@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Heebo:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pattaya&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Heebo", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1rem;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;

}

.menu li {
    margin-left: 1rem;
}

.menu a:hover {
    color: #FF6464;
}

.menu li a {

    color: #21243D;
    padding: 0.5rem 1rem;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #21243D;
    margin: 4px 0;
}

.content-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: aqua; */
}

.main-right,
.main-left {
    flex: 1;
    margin: 10px;
}

.main-right img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main-left {
    width: 70%;
    line-height: 2rem;
}
.main-left h1 {
    font-size: 44px;
    line-height: 60px;
}

.main-left p {
    margin-top: 2rem;
}
.download {
    width: 80%;
    margin: 0 auto;
    /* background-color: deeppink; */
    text-align: center;
}

.download h3 {
    width: 25%;
    background-color: #FF6464;
    padding: 1rem;
    color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.download h3:hover {
    box-shadow: 0 0 10px #FF6464;
}

.recent {
    background-color: lightblue;
}

.Box-detail {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.re-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.re-view a {
    color: rgb(90, 155, 241);
}

.re-view a:hover {
    color: #21243D;
}

.content-box {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.content-box h2 {
    margin-bottom: 2rem;

}

.box-left {
    background-color: white;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 1rem;
}

.box-left>span:nth-child(2) {
    margin-right: 2rem;
}

.box-left>span:nth-child(3) {
    border-left: 1px solid black;
    padding-left: 2rem;
}

.box-left p,
.box-right p {
    margin: 2rem 0;
}


.box-right {
    background-color: white;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 1rem;
}

.box-right>span:nth-child(2) {
    margin-right: 2rem;
}

.box-right>span:nth-child(3) {
    border-left: 1px solid black;
    padding-left: 2rem;
}

.feature-box {
    width: 80%;
    margin: 2rem auto;
    /* background-color: red; */
}

.featured>h1:nth-child(1) {
    width: 80%;
    margin: 2rem auto;
}

.feature-all {
    display: flex;
    justify-content: center;

}

.feature-img {
    width: 40%;

}

.feature-img img {
    width: 100%;
}

.feature-detail {
    padding: 1rem 5rem 1rem 2rem;
}
.feature-detail h1 {
    font-size: 2rem;
}

.img-detail>span:nth-child(1) {
    color: white;
    background-color: rgb(2, 2, 36);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;

}

.img-detail {
    margin: 2rem 0;
}

hr {
    width: 80%;
    margin: 0 auto;
}

.tag {
    margin: 0 auto;
    width: 80%;
    /* background: red; */

}

.tag ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tag ul li {
    margin: 5rem 0 2rem 0;
}

.copy {
    text-align: center;
    margin-bottom: 2rem;
}


/* Blog page */

.blog-page {
    /* background-color: aqua; */
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.blog>h1:nth-child(1) {
    color: #21243D;
    margin: 3rem 0;
    font-size: 30px;
}

.detail-blog {
    padding-right: 8rem;
}

.detail-blog h2 {
    margin: 2rem 0;
}

.detail-blog>span:nth-child(2) {
    margin-right: 1.5rem;
}

.detail-blog>span:nth-child(3) {
    border-left: 1px solid #6c757d;
    padding-left: 1.5rem;
    color: #84848562;
}

.detail-blog p {
    margin: 1.5rem 0;
}

.featured hr {
    width: 80%;
}

hr {
    width: 100%;
}

/* Work page */


.works-box {
    width: 80%;
    margin: 0 auto;
    /* background-color: red; */
}

.works>h1:nth-child(1) {
    width: 80%;
    margin: 1.5rem auto;
    font-size: 30px;
}

.works-all {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

}

.works-img {
    width: 40%;

}

.works-img img {
    width: 100%;
}

.works-detail {
    padding: 1rem 1rem 1rem 2rem;
  
}
.works-detail h1 {
    font-size: 2rem;
    transition: 0.3s;
}
.works-detail a {
    color: #142850;
}
.works-detail a:hover {
    color: #FF6464;
}

.img-detail>span:nth-child(1) {
    color: white;
    background-color: #142850;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;

}

.img-detail {
    margin: 2rem 0;
}

.works hr {
    width: 80%;
}

.typo {
    color: #84848562;
}


/* Detail page */

.detail-page {
    width: 70%;
    margin: 0 auto;
}

.detail-page-img img {
    width: 100%;
    margin-bottom: 1rem;
}
.detail-head {
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;
        /* Align menu items to the right */
    }

    .menu-toggle:checked+.menu-icon+.menu {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .menu li {
        margin: 0;
    }

    .menu li a {
        padding: 1rem;
    }

    .content-main {
        flex-direction: column-reverse;
        text-align: center;
    }

    .main-right,
    .main-left {
        margin: 10px 0;
    }

    .download h3 {
        width: 50%;
        margin: 2rem auto;
    }
   

    .re-view {
        justify-content: center;
    }

    .re-view a {
        visibility: hidden;
    }

    .content-box {
        flex-direction: column;
    }

    .featured>h1:nth-child(1) {
        text-align: center;
    }

    .featured>h1:nth-child(2) {
        text-align: start;
    }

    .feature-all {
        flex-direction: column;
    }

    .feature-img {
        width: 100%;
        margin-bottom: 2rem;
    }

    .feature-detail {
        padding: 0;
    }

    hr {
        width: 100%;
    }

    /* Blog page */

    .blog-page {

        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }

    .detail-blog {
        padding-right: 2rem;
    }


    /* Work page */


    .works-box {
        width: 100%;
        margin: 1rem auto;
        /* background-color: red; */
    }

    .works-all {

        flex-direction: column;
        justify-content: center;
    }
   

    .works-img {
        width: 90%;
        margin: 0 auto;

    }

    .works-img img {
        width: 100%;
    }

    .works-detail {
        padding: 2rem;
        margin: -1rem 0;
    }

    .img-detail>span:nth-child(1) {
        color: white;
        background-color: rgb(2, 2, 36);
        border-radius: 15px;
        padding: 0.5rem 1rem;
        margin-right: 1rem;

    }

    .img-detail {
        padding: 0;
    }

    .works hr {
        width: 100%;
    }

    .typo {
        color: #84848562;
    }

    /*Detail page*/
    .detail-page {
        width: 90%;
    }
    .detail-page-img {
        margin: 0 auto;
    }
    .detail-page-img img {
        width: 100%;
    }
    .detail-head {
        margin-top: 3rem;
    }


}